/agent-*
/coverage
/covdir
/gopath
/gopath.proto
/release
/bin
*.etcd
*.log
*.swp
/etcd
/hack/insta-discovery/.env
*.coverprofile
*.test
hack/tls-setup/certs
.idea
/contrib/raftexample/raftexample
/contrib/raftexample/raftexample-*
/tests/e2e/default.proxy
/vendor
*.tmp
*.bak
.gobincache/
_output
etcd-tests-ext
etcd-tests-ext.gz

# Test output files
junit.xml
report.json
test-results/

# OpenShift Tests Extension metadata
.openshift-tests-extension/openshift_payload_*.json
